/* Structure */

body {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    font-family:"palatino linotype", palatino, serif;
    color: #000000;
font: 62.5% "Trebuchet MS", sans-serif;
} 


#header {
    width: 100%;
    height:60px;
    padding:0px;
    box-sizing: border-box;
    float: left;
    background-color : black; 
    border-bottom: 1px outset white;
    font-size: 250%;
}
    
#menu {
    padding:10px;
    box-sizing: border-box;
    width: 270px;
    float: left;
    height : calc(100% - 60px);
    background-color : white; 
    border-right: 1px outset #OOOOOO;


}

#map {
    width: 750;
    box-sizing: border-box;
    height : calc(100% - 60px);
    float: left;
    background-color : #FFF; 
    padding:10px;
    box-sizing: border-box;    

}

/* Global */
a {
	font-family: 'Enriqueta', arial, serif;
	line-height: 1.25;
	margin: 0 0 10px;
	font-size: 12px;
	font-weight: bold;
	color : #99a8c4;
	text-decoration:none;

}


/* Header & menu */

.item-header {
	padding:0px;
	margin-right:10;
	vertical-align:middle;
	float:right;
}

.item-header a{
color:white;
}

.item-logo {
	padding:0px;
	margin:0 0 0 0;
	vertical-align:middle;
	float:left;
}

a.menu {
line-height:30px;
color:white;
}

ul.ui-menu
{
    max-height: 300px;
    width: 100%;
}

p.menu {
color:#62849b;
font-family: 'Enriqueta', arial, serif;
	line-height: 1.25;
	margin: 0 0 10px;
	font-size: 12px;
	font-weight: bold;


}

/* Map styles */

.graticule {
	fill:none ;
	stroke: #777;
	stroke-width: 0.5px; 
	stroke-opacity: .5;
	stroke-dasharray: 2 
}

.land {
  fill: #DBD4C8;
  stroke: white;
  stroke-width: 0.6px; 

}

.landSelected {
  fill: #c3b9b0;
  stroke: white;
  stroke-width: 0.6px; 

}

.coasts {
  fill: none;
  stroke: #5F98C7;
  stroke-width: 0.8px; 

}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.links {
	fill:none ;
	stroke: #b25656;
	stroke-width: 1px; 
	stroke-opacity: .3;
	stroke-dasharray: 1 
}

.event {
	fill : url(#radial-gradient2);
	stroke-width: 1.3px;
	stroke : #ffffff ; }

.notevent {
  fill: #5092de;
  fill-opacity: 0.1;
  stroke: none;
}

.textlegend {
	font-size:12px;
	fill:#5f5856;
	font-family:arial, tahoma, geneva, sans-serif;
	font-style:bold
	} 
.textlegend2 {
	font-size:8px;
	fill:#5f5856;
	font-family:arial, tahoma, geneva, sans-serif;
	font-style:bold
	}     
            
 .legendcircle {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}    
.lineslegend {
	fill:none ;
	stroke: #000;
	stroke-width: 0.5px; 
	stroke-dasharray: 0.5 
}       


